name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: clippy
    - uses: ConorMacBride/install-package@v1
      with:
        apt: libdbus-1-dev pkg-config gcc g++ clang libfontconfig-dev libwayland-dev \
              libwebkit2gtk-4.1-dev libxkbcommon-x11-dev libx11-xcb-dev \
              libssl-dev libzstd-dev \
              vulkan-validationlayers libvulkan1
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
